@import url("https://fonts.googleapis.com/css?family=Roboto");
:root {
    --font-style: 'Roboto', sans-serif;

    --primary-red: #FA897B;
    --hover-red: #D75D59;
    --secondary-red: #FDC5B0;
    --tertiary-red: #FEDCCA;
    --background-red: #FEF0E4;
    --primary-blue: #86E3CE;
    --secondary-blue: #A5EED6;
    --primary-green: #A2D89F;
    --secondary-screen: #E0F0BD;
    --primary-yellow: #FFDD94;
    --secondary-yellow: #FFE8AE;
    --white: #fff;
    --black: #5B5759;
    --grey: #8A8894;
    --light-grey: #D9D9D9;

    --heading-1: 4rem;
    --heading-2: 3rem;
    --heading-3: 2.25rem;
    --timer-text: 4rem;
    --double-extra-large-text: 3rem;
    --extra-large-text: 2rem;
    --large-text: 1.5rem;
    --medium-text: 1rem;
    --normal-text: 0.875rem;
    --small-text: 0.75rem;

    --line-height: 150%;

    --border-radius: 0.5rem;

    --drop-shadow: box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font-style);
    background-color: var(--background-red);
}

body > div {
    margin: auto;
}

.map {
    width: 100%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 25px;
    height: 5%;
    width: auto;
}

.account {
    position: absolute;
    top: 20px;
    right: 35px;
    height: 13%;
    width: auto;
}

.ava {
    position: absolute;
    top: 30px;
    right: 44px;
    height: 50%px;
    width: auto;
}

.name {
    position: absolute;
    top: 47px;
    right: 145px;
    font-size: 18px;
    color: #f4f4f5;
    font-family: var(--font-style);
}

.coin {
    position: absolute;
    top: 90px;
    right: 150px;
    font-size: 18px;
    color: var(--primary-yellowlow);
    font-family: var(--font-style);
}
