@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f5;
}

body > div {
    margin: auto;
}

.map {
    width: 100%;
}

.logo {
    position: absolute;
    top: 20px;
    left: 25px;
    height: 5%;
    width: auto;
}

.account {
    position: absolute;
    top: 20px;
    right: 35px;
    height: 13%;
    width: auto;
}

.ava {
    position: absolute;
    top: 30px;
    right: 44px;
    height: 50%px;
    width: auto;
}

.name {
    position: absolute;
    top: 47px;
    right: 145px;
    font-size: 18px;
    color: #f4f4f5;
    font-family: "Roboto";
}

.coin {
    position: absolute;
    top: 90px;
    right: 150px;
    font-size: 18px;
    color: #f4f4f5;
    font-family: "Roboto";
}
